{% extends 'base.html'%} {% block title %}Homepage{% endblock %} {% block content %}

<section class="py-5 text-center container mt-5">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"><i class="fas fa-balance-scale"></i> Search Aletheia</h1>
            <form class="d-flex" action="/search">
                <input class="form-control me-2" type="text" name="name" required style="text-transform: capitalize" placeholder="Search By Article" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}